<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script><!--vue3.2.24-->
    <title>Document</title>
</head>
<body>
    <div id="overview" class="demo">
        <custom-form @emit-submit="emitSubmit">hava-slot</custom-form>
        <custom-layout id="custom-layout" @click="changeValue"></custom-layout>
        <date-picker data-status="activated" @change="showChange"></date-picker>
        <select-picker @change="showChange"></select-picker>
        <div class="demo-alert-box">
            <alert-box>
                Something bad happened.
            </alert-box>
        </div>
        <todo-list>
            <template v-slot:default="slotProps">
                <i class="fas fa-check"></i>
                <span class="green">{{slotProps.item}}</span>
            </template>
        </todo-list>
        <div :style="{ fontSize: postFontSize + 'em'}">
            <blog-post
            v-for="post in posts"
            :key="post.id"
            :title="post.title"
            :content="post.content"
            @enchange-text="onenchangeText"
            >
            cvbxvcb
            </blog-post>
        </div>
        
        {{myText}}<br />
        <my-component v-model.capitalize="myText"><my-component>

    </div>
</body>
</html>

<script >
    const app = Vue.createApp({
        data(){
            return {
                posts:[
                        { id:1, title:'My journey with Vue', content:'Content1'},
                        { id:2, title:'Blogging with Vue', content:'Content2'},
                        { id:3, title:'why Vue is so fun', content:'Content3'}
                    ],
                postFontSize:1,
                myText: ''
            }
        },
        methods: {
            onenchangeText(description,enchangeAmount){
                this.postFontSize += enchangeAmount
            },
            showChange(event){
                console.log(event.target.value)
            },
            emitSubmit(event){
                console.log("The submited value is ",event)
            }
        },
        components:{
            'component-a':{
                data(){
                    return {
                        message: 'World!',
                        title:'aaa'
                    }
                },
                template:`
                <p> Hello {{message}}</p>
                <button-counter/>
                `
            }
        }
    });
    app.component("custom-form",{
        data(){
            return {
                email: '',
                password: '',
            }
        },
        methods:{
            checkForm(email,password){
                console.log('Checking')
                this.$emit('emit-submit',{email,password});
            }
        },
        emits:{
            click:null,
            submit:({ email, password })=>{
                if (email && password){
                    console.log('email && password submit!')
                    return true
                }else{
                    console.warn('Invalid submit event payload!')
                    return false
                }
            }
        },
        // <form @submit="checkForm">
        //     <input name="email" id="email" v-model="email" type="text" placeholder="email"/>&nbsp;
        //     <input name="password" id="password" v-model="password" type="password" placeholder="password"/>
        //     <p> <input type="submit" value="Submit"/> </p>
        // </form>
        template:`
        <p>
            <input name="email" id="email" v-model="email" type="text" placeholder="email"/>&nbsp;
            <input name="password" id="password" v-model="password" type="password" placeholder="password"/>&nbsp;
            <button @click="checkForm(email,password)"><slot>submit</slot></button>
        </p>
        `
    }),
    app.component("custom-layout", {
        template: `
        <header></header>
        <main v-bind="$attrs"></main>
        <footer></footer>
        `
    })
    app.component("date-picker",{
        inheritAttrs: false,
        template:`
        <div class="date-picker">
            <input type="datetime-local" v-bind="$attrs"/>
        </div>
        `,
    })
    app.component("todo-list", {
        data(){
            return {
                items: ['Feed a cat', 'Buy milk']
            }
        },
        template:`
        <ul>
            <li v-for="(item, index) in items">
                <slot :item="item"></slot>
            </li>
        </ul>
        `
    }),
    app.component("select-picker", {
        template:`
        <select>
            <option value="1">Yesterday</option>
            <option value="2">Today</option>
            <option value="3">Tomorrow</option>
        </select>
        `,
        created(){
            console.log("@@@",this.$attrs)
        }
    }),
    app.component("alert-box", {
        template:`
        <strong>Error!</strong>
        <slot></slot>
        `
    })
    app.component("my-component", {
        props:{
            modelValue: String,
            modelModifiers: {
                default: () => ({})
            }
        },
        emits: ['update:modelValue'],
        methods: {
            emitValue(e){
                let value = e.target.value
                if (this.modelModifiers.capitalize) {
                    value = value.charAt(0).toUpperCase() + value.slice(1)
                }
                this.$emit('update:modelValue',value)
            }
        },
        template: `
            <input type="text"
            :value="modelValue"
            @input="emitValue">
        `,
        created(){
            console.log(this.modelModifiers)
        }
    })
    app.component('blog-post',{
        props: ['title','content'],
        // emits:['enlargeText','ensmallText'],
        emits:{
            enchangeText: function(description,enchangeAmount){
                console.log(description+' button is clicked!')
                return true
            }
        },
        template: `<h4>{{title}}</h4>
        <p>{{content}}
        <button @click="$emit('enchangeText','larger',0.2)">+</button>
        <button @click="$emit('enchangeText','smaller',-0.1)">-</button></p><br/>`
    }),
    app.component('button-counter',{
        data(){
            return {
                count:0
        }},
        template:`
        <button @click="count++">
            You clicked me {{count}} times
        </button>
        `
    })
    app.mount("#overview")
</script>

<style>
.demo {
  font-family: sans-serif;
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 20px 30px;
  margin-top: 1em;
  margin-bottom: 40px;
  user-select: none;
  overflow-x: auto;
}
.demo-alert-box {
  padding: 10px 20px;
  background: #f3beb8;
  border: 1px solid #f09898;
}
</style>